<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BlogSite </title>
</head>
<body>

<style>
    .nav {
        box-shadow: 1px 1px 15px;
        border-radius: 5px;
        padding: 5px 5px 2px 5px;
        margin-bottom: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightgreen;
    }
    .content {
        margin-bottom: 30px;
    }
</style>

<div class="nav"> {% include 'baseApp/navbar.html' %} </div>

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <h3> {{message}} </h3>
        {% endfor %}
    {% endif %}
{% endblock messages %}


<div class="content">
    {% block content %}
        problem sa BLOCK CONTENTOM 
    {% endblock %}
</div>

</body>

<!-- {% block footer %}
    {% include 'baseApp/footer.html' %}
{% endblock footer %} -->

</html>