{% extends 'baseApp/base.html' %}

{% block content %}

<style>
    .post {
        width: 90%;
        border-left: 3px solid red;
        border-bottom: 3px solid red;
        padding-left: 5px;
        padding-top: 1px;
    }
    .image {
        width: 100%;
        max-height: auto;
    }
    a {
        text-decoration: none;
    }
</style>

{% if request.user.is_authenticated %}
{% else %}
    <a href="{% url 'loginUser' %}"> Login </a> or
    <a href="{% url 'registerUser' %}"> Register </a> So You Can Post! <hr>
{% endif %}


{% block messages %}
{% endblock messages %}


{% for post in posts %}
    <div class="post">
        {% if request.user.is_authenticated %}
            {% if request.user == post.user %}
                {% if deletePost %}
                    {% if deletePost.id == post.id %}
                        <form action="" method="POST">
                            {% csrf_token %}
                                <h3> Delete "{{deletePost}}"? </h3>
                                <input type="submit" value="Yes"> |
                                <button><a href="{{request.META.HTTP_REFERER}}"> Abort </a></button>
                            <br><br>
                        </form>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endfor %} <br>

{% endblock content %}