{% extends 'baseApp/base.html' %}

{% block content %}

<style>
.my-profile-wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.my-profile-left {
	margin-right: 10px;
	padding-left: 10px;
}
.image {
  width: 100%;
  max-height: auto;
}
.my-profil-image {
	 width: 50%;
	 border-radius: 50%;
}
</style>

<div class="my-profile-wrapper">
	<div class="my-profile-left"> 
	<h3> My Info </h3> 

	<a href="{% url 'myProfileForm' %}"> Add extra informations to your profile </a> <br><br>
	<!-- NE VIDI SE U MY INFO SEKCIJI BEZ POPUNJENE FORME -->


	{% for user in userProfile %}
	{% if request.user == user.user %}
		<img src="{{ user.profile_image.url }}" alt="" class="my-profil-image"> <br> <br>
		Username: {{ request.user }} <br> 
		First name: {{ user.first_name }} <br> 
		Last name: {{ user.last_name }} <br> 
		Email: {{ user.email }} <br> 
		Phone: +3816{{ user.phone }} <hr>
	{% endif %}
	{% endfor %}

	Last online: {{ user.last_login }} <br> 
	Account created: {{ user.date_joined }} <br>
	</div>


	<div class="my-profile-right">
	<h3> My posts </h3> 
	{% for post in posts %}
	{% if request.user == post.user %}
		<div class="post">
		<h5>@{{post.user}} / {{post.created.date}}</h5> 
		<a href="{% url 'comment' post.pk %}?page={{posts.number}}"> 
		<h3> {{post|safe}} </h3>

		{% if post.image %}
		  <img src="{{ post.image.url }}" alt="" class="image"><br>
		{% endif %}

		{% if request.user.is_authenticated %}
		  {% if request.user == post.user %}
		  <small>
		    <a href="{% url 'update' post.pk %}"> Update  </a> |
		    <a href="{% url 'deletePost' post.pk %}"> Delete </a>
		  </small> <br> <br>
		  <small> Likes {{post.likes.count}} | Dislikes {{post.dislikes.count}} </small> <br><br>

		  {% else %}
		  <div class="postLikes">
		    <input type="hidden" name="next" value="{{request.path}}">
		    <form action="{% url 'like' post.pk %}" method="POST">
		      {% csrf_token %}
		      <button type="submit" class="btnLike">Like <b>{{post.likes.count}}</b></button>
		    </form>

		    <input type="hidden" name="next" value="{{request.path}}">
		    <form action="{% url 'dislike' post.pk %}" method="POST">
		      {% csrf_token %}
		      <button type="submit" class="btnDislike"> Dislike <b>{{post.dislikes.count}}</b></button>
		    </form> <br><br>
		  </div>
		  {% endif %} 
		{% endif %}
		</a>
		</div> 
	{% endif %}
	{% endfor %} 
	</div>

</div>
{% endblock %}