{% extends 'baseApp/base.html' %}

{% block content %}

<style>
.pictures {
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
</style>

<div class="pictures">
{% if post.image.url %}
  <a href="{{ request.META.HTTP_REFERER }}"> 
    <img src="{{ post.image.url }}" alt="" width="100%"> 
  </a>
{% else %}
{% endif %}

    <!-- {% if post.imageA %}
        <img src="{{ post.imageA.url }}" alt="" width="100%">
    {% else %}
    {% endif %}

    {% if post.imageB %}
        <img src="{{ post.imageB.url }}" alt="" width="100%">
    {% else %}
    {% endif %}

    {% if post.imageC %}
        <img src="{{ post.imagec.url }}" alt="" width="100%">
    {% else %}
    {% endif %}

    {% if post.imageD %}
        <img src="{{ post.imageD.url }}" alt="" width="100%">
    {% else %}
    {% endif %}

    {% if post.imageE %}
        <img src="{{ post.imageE.url }}" alt="" width="100%">
    {% else %}
    {% endif %}

    {% if post.imageF %}
        <img src="{{ post.imageF.url }}" alt="" width="100%">
    {% else %}
    {% endif %} -->
</div>


{% endblock content %}